/* ================================================================================== */

@mixin xlarge {

    @media (min-height: 701px) and (max-height: 800px), (min-width: 1001px) and (max-width: 1151px) {
        @content;
    }
}

@mixin large {

    @media (min-height: 600px) and (max-height: 700px), (min-width: 901px) and (max-width: 1000px) {
        @content;
    }
}

@mixin medium {

    @media (min-height: 531px) and (max-height: 601px), (min-width: 801px) and (max-width: 900px) {
        @content;
    }
}

@mixin small {

    @media (min-height: 461px) and (max-height: 530px), (min-width: 701px) and (max-width: 800px) {
        @content;
    }
}

@mixin xsmall {

    @media (min-height: 300px) and (max-height: 460px), (min-width: 600px) and (max-width: 700px){
        @content;
    }
}

/* ================================================================================== */

@mixin font($type: 'primary', $color: white, $size: 16px, $weight: 400) {

    @if $type == 'primary' {
        font-family: 'Encode Sans Condensed', sans-serif; 
    } @else {
        font-family: 'Montserrat', sans-serif;
    }

    font-size: $size;
    font-weight: $weight;

    color: color($color);
}

/* ================================================================================== */

@mixin flex($type: flex, $direction: row, $justify: center, $align: center) {
    
    display: $type;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    
}

/* ================================================================================== */