@import "./slot-display.scss";
@import "./slot-control.scss";

#slot {

    @include flex($direction: column, $justify: start);
    
    width: 100vw;
    height: 100vh;
    padding: 3rem 3rem;

    .slot-row {
        @include flex($direction: row, $justify: flex-start, $align: flex-start);
    }

    .slot-col {
        @include flex($direction: column, $justify: flex-start, $align: flex-start);
    }
    
}